In [ ]:
# Dependencies and Setup
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import SQL Alchemy
from sqlalchemy import create_engine

# Import URI
from config import database

In [ ]:
# Create a connection to a Postgresql database
engine = create_engine(database)
connection = engine.connect()

In [ ]:
# Query all records in the Salaries table in the Database
salaries_df = pd.read_sql("SELECT * FROM salaries", connection)

In [ ]:
# Check for completeness
salaries_df.count()

In [ ]:
# Preview the data
salaries_df.head(5)

In [ ]:
# Create a histogram to visualize the most common salary ranges for employees.
salary_data = salaries_df['salary']

hist = salary_data.hist(bins = 8, alpha = 0.5)
plt.title('Distribution of Annual Salaries ($)', fontsize=18)
plt.xlabel('Annual Salary ($)', fontsize=12)
plt.ylabel('Number of Employees', fontsize=12)
plt.tight_layout()
plt.show()

In [ ]:
# Create combined dataframe for bar chart.

# Query all records in the Employees table in the Database
employees_df = pd.read_sql("SELECT * FROM employees", connection)

# Query all records in the Titles table in the Database
titles_df = pd.read_sql("SELECT * FROM titles", connection)

# Rename column in Employees dataframe for merge with Titles dataframe
employees_df = employees_df.rename({"emp_titleid":"titleid"}, axis=1) 

# Merge the columns of Emmployees and Salaries dataframes
combined_df = pd.merge(employees_df, salaries_df, on="emp_no", how="inner")

full_df = pd.merge(combined_df, titles_df, on="titleid", how="inner")

In [ ]:
# Check for completeness
full_df.head(5)

In [ ]:
# Preview the data
full_df.count()

In [ ]:
# Create a bar chart of average salary by title.
avg_salary = full_df.groupby("title").salary.mean()
x_axis = avg_salary.index

plt.bar(x_axis, avg_salary, alpha = 0.5)
plt.title('Average Salary by Title ($)', fontsize=16)

plt.ylabel('Annual Salary ($)', fontsize=12)
tick_locations = [value for value in x_axis]
plt.xticks(tick_locations, x_axis, rotation = 90)

plt.show()